extends layout

block scripts
  script(src='/js/database.js')

block content
  div(class='row justify-content-center')
    h1 Composite Scrap Database
  div(class='row justify-content-center')
    if options !== null
      select(class='form-control' onchange='query(this)' style='width: 20rem')
        if options.length == 0
          option(hidden disabled selected value) No Results
        else
          option(hidden disabled selected value) Select an Option
        for opt in options
          option(value=opt.toLowerCase().replace(' ', '-'))= opt
    else
      div(class='card' style='width: 40rem')
        div(class='card-body')
          h4(class='card-title') PA-6 / 50 wt. % GF Chopped Unidirectional Tape
          p
            b Material Notes:
            |  Original form was continuous, this scrap comes from trim-offs. Various shapes and sizes.
          p
            b Origin:
            |  Hardin Composites
          p
            b Manufacturing Method:
            a(href='javascript:void(0)')  Pultrusion
          p
            b Current Location:
            |  University of Alabama at Birmingham (UAB)
          p
            b Amount:
            |  500 lbs
          a(class='btn btn-primary mr-2' href='javascript:void(0)') Save
          a(class='btn btn-primary' href='javascript:void(0)') Query
