//- Home
extends layout

block content
  div(class='jumbotron')
    h1(class='display-4') Composite Scrap Database
    p(class='lead') Find additional information on composite scrap, available composite scrap, and existing composite recyclers.
    p: a(class='btn btn-lg btn-primary' href='#' role='button') Search
