//- Home
extends layout

block scripts
  script('src=/js/nav.js')
  script.
    window.onload = activate('home')

block content
  div(class='jumbotron')
    h1(class='display-3') Composite Scrap Database
    p(class='lead') Find information on composite scrap, available composite scrap, and existing composite recyclers.
    p: a(class='btn btn-primary btn-lg' role='button' href='/search') Search &raquo;

  div(class='row')
    div(class='col')
      h3 What are composites?
      p
        | A composite is a material made from two or more separate materials or elements that when combined create a stronger material.
      p: a(class='btn btn-secondary' role='button' href='http://compositeslab.com/composites-101/' target='_blank') Learn more &raquo;
    div(class='col')
      h3 A composites industry overview
      p Read more about the composites industry and find additional resources.
      p: a(class='btn btn-secondary' role='button' href='/learn/overview') View details &raquo;
    div(class='col')
      h3 The CRTEP project
      p Read more about the Composites Recycling Technician Education Program (CRTEP) and explore the educational modules.
      p: a(class='btn btn-secondary' role='button' href='/about') View details &raquo;
