//- Modules
extends layout

block content
  div(class='row')
    div(class='col-4')
      div(class='list-group' id='list-tab' role='tablist')
        -
          var titles = ['Overview on Materials Recycling',
                        'Composite Manufacturing Methods: Thermosets and Thermoplastics',
                        'Challenges of Recycling Composites I',
                        'Challenges of Recycling Composites II',
                        'Sources of Scrap Materials in Production Facilities',
                        'Methods of Recycling Thermosets',
                        'Methods of Recycling Thermoplastics',
                        'Considering Components/Parts for Manufacture from Recycled Materials',
                        'Design for Recycling',
                        'Understanding Public Perception and Consumer Habits']
        for value, index in titles
          a(class='list-group-item list-group-item-action' id='module-'+index+'-list' data-toggle='list' href='#module-'+index role='tab')= value

    div(class='col')
      div(class='tab-content' id='nav-tabContent')
        - for (var i = 1; i < 10 + 1; i++) {
            div(class='tab-pane fade show' id='module-'+i role='tabpanel')
        - }
