extends layout

block content
  div(class="col")
    p 
      | Carbon Conversions 
      a(href='http://www.carbonconversions.com') http://www.carbonconversions.com
    p 
      | Composite Recycling Technology Center (CRTC) 
      a(href="http://www.compositerecycling.org/") http://www.compositerecycling.org/
    p 
      | Composites World 
      a(href="http://www.compositesworld.com/") http://www.compositesworld.com/
    p 
      | Composites World SourceBook 
      a(href="http://www.compositesworld.com/suppliers") http://www.compositesworld.com/suppliers
    p 
      | Institute of Scrap Recycling Industries, Inc. (ISRI) 
      a(href="http://www.isri.org/home") http://www.isri.org/home
    p 
      | Scrap Magazine 
      a(href="http://www.scrap.org/") http://www.scrap.org/
    p 
      | Trek Bikes 
      a(href="https://www.trekbikes.com/us/en_US/story/second_life/") https://www.trekbikes.com/us/en_US/story/second_life/
    p 
      | Washington State Clean Energy Fund 
      a(href="http://www.commerce.wa.gov/growing-the-economy/energy/clean-energy-fund/") http://www.commerce.wa.gov/growing-the-economy/energy/clean-energy-fund/
    p 
      | Washington State Recycling Association (WSRA) 
      a(href="http://www.wsra.net/") http://www.wsra.net/
    
    h4 YouTube
    p: a(href='https://www.youtube.com/watch?v=lidRk_KvBzM') Adesso &#8211; A leading solution provider for recyclable composite manufacturing and recycling
    p: a(href='https://www.youtube.com/watch?v=Z2inwFBdQ9g') Arkema Group What is a composite?
    p: a(href='https://www.youtube.com/watch?v=wYbBiYr1yQs') Elium &reg, the resin which makes composites recyclable
    p: a(href='https://www.youtube.com/watch?v=9q0vIRPMVlQ') Fiberon Eco-friendly &amp; Sustainable Composite Decking – How It’s Made
