//- Modules
extends layout

block content
  div(class='row')
    div(class='col-auto')
      div(class='list-group' id='list-tab' role='tablist')
        -
          const titles = ['Module 1: Overview on Materials Recycling',
                        'Module 2: Composite Manufacturing Methods: Thermosets and Thermoplastics',
                        'Module 3: Challenges of Recycling Composites I',
                        'Module 4: Challenges of Recycling Composites II',
                        'Module 5: Sources of Scrap Materials in Production Facilities',
                        'Module 6: Methods of Recycling Thermosets',
                        'Module 7: Methods of Recycling Thermoplastics',
                        'Module 8: Considering Components/Parts for Manufacture from Recycled Materials',
                        'Module 9: Design for Recycling',
                        'Module 10: Understanding Public Perception and Consumer Habits']
        for value, index in titles
          a(class='list-group-item list-group-item-action' id='module-'+index+'-list' data-toggle='list' href='#module-'+index role='tab' style='font-size: 0.85rem;') Module #{index+1}

    div(class='col')
      div(class='tab-content' id='nav-tabContent')
        //- Module 1
        div(class='tab-pane fade' id='module-0' role='tabpanel')
          h3= titles[0]
          h4: a(href='#') Module 1 Outline
          h4
            b 1.a 
            a(href='#') A Brief Introduction to Composites
          h4
            b 1.b 
            a(href='#') “Waste” versus “Scrap”
          h4
            b 1.c 
            a(href='#') Recycling Trends
          h4
            b 1.d 
            a(href='#') Industry Perspective on Recyclings
          h4
            b 1.e 
            a(href='#') Basic Introduction to Current Composite Recycling in Industry
        //- Module 5
        div(class='tab-pane fade' id='module-4' role='tabpanel')
          h3= titles[4]
            h4: a(href='#') Module 5 Outline
            h4
              b 5.a 
              a(href='#') Six Sources of Manufacturing Scrap
            h4
              b 5.b 
              a(href='#') Raw Material and Material Trim-Offs Scrap
            h4
              b 5.c 
              a(href='#') Part Trim-Offs Scrap
            h4
              b 5.d 
              a(href='#') Machining/Finishing Scrap
            h4
              b 5.e 
              a(href='#') Reject Parts and End of Life Components as Scrap
            h4
              b 5.f 
              a(href='#') Storing versus Landfilling versus Outsourcing Scrap
        //- Generate tabs for empty modules
        - const missing = [...titles.keys()].filter(function (i) { return ![0, 4].includes(i) })
        each i in missing
          div(class='tab-pane fade' id='module-'+i role='tabpanel')
            h3= titles[i]
